body
{
    margin: 0;
    background-color: rgb(38, 38, 38);
}

#menu
{
    margin: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#area_menu
{
    background-color:rgb(23, 22, 22)
}

nav
{
    display: flex;
    gap: 20px;
    font-size: 18px;
}

#logo
{
    width: 100px;
}

#Banner
{
    width: 100%;
}

.link_menu
{
    text-decoration: none;
    color: aliceblue;
    font-family: Arial;
}

.link_menu:hover
{
    color: blueviolet;
    text-shadow: 0 0 5px rgba(113, 12, 214, 0.699);
} 

.atual
{
    color: blueviolet;
    border-bottom: 2px solid blueviolet;
}

#introdução
{
    margin: 40px 40px;
   
}

#introdução h1
{
    color: aliceblue;
    font-family: arial;
    text-align: center;
    font-size: 32px;
}

#texto_introdução
{
    color: aliceblue;
    font-family: Arial;
    font-size: 17px;
    line-height: 1.6;
    text-align: justify;
}

#citação
{
    color: rgb(190, 190, 190);
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    font-style: italic;
    margin: 30px 80px;
}

#citação cite
{
    display: block;
    color: blueviolet;
    font-size: 14px;
    margin-top: 10px;
    font-style: normal;
}

.cards
{
    display: flex;
    gap: 20px;
}

.card
{
    background-color: rgb(23, 22, 22);
    border: 1px solid blueviolet;
    padding: 20px;
    border-radius: 16px;
    transition: 0.3s;
}

.card:hover
{
    box-shadow: 0 0 15px blueviolet;
}

.card img
{
    width: 100%;
    height: 415px;
    object-fit: cover;
}

.card h2
{
    color: aliceblue;
    font-family: arial;
    text-align: center ;
}

.card p
{
    color: aliceblue;
    font-family: arial;
    line-height: 1.5;
    text-align: justify;
}

#elementos
{
    margin: 40px;
}

#elementos h1
{
    color: rgb(239, 184, 16);
    font-family: arial;
    text-align: center;
    font-size: 32px;
    text-shadow: 0 0 8px rgba(250, 205, 70, 0.7);
}

#introdução_elementos
{
    color: aliceblue;
    font-family: Arial;
    font-size: 17px;
    line-height: 1.1;
    text-align: justify;
}

#cards_elemento
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card_elemento
{
    display: flex;
    gap: 20px;
    background-color: rgb(23, 22, 22);
    padding: 20px;
    border-radius: 16px;
    align-items: center;
    transition: 0.3s;
}

.card_elemento img
{
    width: 180px;
    height: 180px;
    object-fit: cover;
}

#sangue
{
    border: 1px solid red;
}

#sangue:hover
{
    box-shadow: 0 0 15px red;
}

#morte
{
    border: 1px solid rgb(120, 120, 120);
}

#morte:hover
{
    box-shadow: 0 0 15px rgb(120, 120, 120);
}

#conhecimento
{
    border: 1px solid rgb(239, 184, 16);
}

#conhecimento:hover
{
    box-shadow: 0 0 15px rgb(239, 184, 16);
}

#energia
{
    border: 1px solid blueviolet;
}

#energia:hover
{
    box-shadow: 0 0 15px blueviolet;
}

.card_elemento h2
{
    color: aliceblue;
    align-items: center;
    text-align: center;
    font-family: arial;
    font-size: 18px;
    margin-top: 0px;
}

.card_elemento p
{
    color: aliceblue;
    font-family: arial;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}

.card_elemento .oprime
{
    color: blueviolet;
    font-style: italic;
    font-size: 12px;
    text-align: center;
}

#rituais
{
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#rituais
{
    margin: 40px;
}

.ritual
{
    display: flex;
    gap: 30px;
    background-color: rgb(23, 22, 22);
    padding: 20px;
    border-radius: 110px;
    transition: 0.3s;
}

#Flagelo
{
    border: 1px solid red;
}

#Flagelo:hover
{
    box-shadow: 0 0 15px red;
}

#Flagelo .elemento_ritual
{
    color: red;
}

#Inexistir
{
    border: 1px solid rgb(239, 184, 16);
}

#Inexistir:hover
{
    box-shadow: 0 0 15px rgb(239, 184, 16);
}

#Inexistir .elemento_ritual
{
    color: rgb(239, 184, 16);
}
 
.ritual img
{
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.info_ritual h2
{
    color: aliceblue;
    font-family: Arial;
    text-align: center;
    font-size: 24px;
}

.elemento_ritual
{
    font-size: 14px;
    font-family: Arial;
    text-align: center;
}

.explicacao_ritual
{
    color: aliceblue;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}